<!-- place the source of your google form here, remove the help messages -->
<!-- Add the classes "btn btn-default" to the submit -->

<form action="https://docs.google.com/forms/d/1KAHPhxiy1zKJaklwPaw5DKEalSyhl4pMuNDSiDcfeXM/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding: 0 10%">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_645079878"><div class="ss-q-title">Full Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.645079878" value="" class="ss-q-short" id="entry_645079878" dir="auto" aria-label="Full Name الاسم الكامل  " aria-required="true" required="" title="">
<div class="error-message" id="1171085079_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1969901726"><div class="ss-q-title">Email
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="email" name="entry.1969901726" value="" class="ss-q-short" id="entry_1969901726" dir="auto" aria-label="Email البريد الإلكتروني  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
<div class="error-message" id="718283415_errorMessage">Must be a valid email address</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_534007461"><div class="ss-q-title">Job Title / Profession
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.534007461" value="" class="ss-q-short" id="entry_534007461" dir="auto" aria-label="Job Title || Profession المسمى الوظيفي - المهنة  " aria-required="true" required="" title="">
<div class="error-message" id="202022949_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_712200957"><div class="ss-q-title">Organization / Company
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.712200957" value="" class="ss-q-short" id="entry_712200957" dir="auto" aria-label="Organization || Company المؤسسة أو الشركة  " aria-required="true" required="" title="">
<div class="error-message" id="142352966_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_618653301"><div class="ss-q-title">Twitter Account
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.618653301" value="" class="ss-q-short" id="entry_618653301" dir="auto" aria-label="Twitter Account حساب تويتر  Your Twitter handle should start with @" pattern=".*@.*" title="Your Twitter handle should start with @">
<div class="error-message" id="760558343_errorMessage">Your Twitter handle should start with @</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1717530142"><div class="ss-q-title">Github Username
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1717530142" value="" class="ss-q-short" id="entry_1717530142" dir="auto" aria-label="Github Username الاسم على Github  " title="">
<div class="error-message" id="1012310830_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1396408185"><div class="ss-q-title">Which topics you are interested in?
</div>
<div class="ss-q-help ss-secondary-text" dir="auto">Check topics you are most interested in learning and attending sessions.</div></label>

<ul class="ss-choices" role="group" aria-label="Which topics you are interested in? ما هي المواضيع التي تهمك أكثر؟ Check topics you are most interested in learning and attending sessions. "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Spectrum and Open Radio Frequencies - &#1575;&#1604;&#1578;&#1585;&#1583;&#1583;&#1575;&#1578; &#1575;&#1604;&#1585;&#1575;&#1583;&#1610;&#1608;&#1610;&#1577;" id="group_906759932_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Spectrum and Open Radio Frequencies</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Open Data and Data Journalism - &#1575;&#1604;&#1576;&#1610;&#1575;&#1606;&#1575;&#1578; &#1575;&#1604;&#1605;&#1601;&#1578;&#1608;&#1581;&#1577; &#1608;&#1589;&#1581;&#1575;&#1601;&#1577; &#1575;&#1604;&#1576;&#1610;&#1575;&#1606;&#1575;&#1578;" id="group_906759932_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Open Data and Data Journalism</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Open Content and Wikipedia - &#1575;&#1604;&#1605;&#1581;&#1578;&#1608;&#1609; &#1575;&#1604;&#1605;&#1601;&#1578;&#1608;&#1581; &#1608;&#1608;&#1610;&#1603;&#1610;&#1576;&#1610;&#1583;&#1610;&#1575;" id="group_906759932_3" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Open Content and Wikipedia</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Bitcoin and Open Source Currency - &#1576;&#1610;&#1578;&#1603;&#1608;&#1610;&#1606; &#1608;&#1575;&#1604;&#1606;&#1602;&#1583; &#1605;&#1601;&#1578;&#1608;&#1581; &#1575;&#1604;&#1605;&#1589;&#1583;&#1585;" id="group_906759932_4" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Bitcoin and Open Source Currency</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Drones - &#1575;&#1604;&#1591;&#1575;&#1574;&#1585;&#1575;&#1578; &#1583;&#1608;&#1606; &#1591;&#1610;&#1575;&#1585;" id="group_906759932_5" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Drones</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Internet Freedom and Open Internet - &#1581;&#1585;&#1610;&#1577; &#1575;&#1604;&#1573;&#1606;&#1578;&#1585;&#1606;&#1578; &#1608;&#1575;&#1604;&#1608;&#1610;&#1576; &#1575;&#1604;&#1605;&#1601;&#1578;&#1608;&#1581;" id="group_906759932_6" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Internet Freedom and Open Internet</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.906759932" value="Crowdfunding and Crowsourcing - &#1575;&#1604;&#1578;&#1605;&#1608;&#1610;&#1604; &#1575;&#1604;&#1580;&#1605;&#1575;&#1593;&#1610; &#1608;&#1575;&#1604;&#1578;&#1593;&#1607;&#1610;&#1583; &#1575;&#1604;&#1580;&#1605;&#1575;&#1593;&#1610;" id="group_906759932_7" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Crowdfunding and Crowsourcing</span>
</label></li></ul>
<div class="error-message" id="1396408185_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1181208829"><div class="ss-q-title">On the day of the event, which times are more suitable to you?
</div>
<div class="ss-q-help ss-secondary-text" dir="auto">Check more than a time period if you are willing to attend their sessions.</div></label>

<ul class="ss-choices" role="group" aria-label="On the day of the event, which times are more suitable to you? ما هي الأوقات التي تناسبك أكثر في يوم الفعالية؟ Check more than a time period if you are willing to attend their sessions. "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.701063194" value="Morning (10-12) &#1575;&#1604;&#1589;&#1576;&#1575;&#1581;" id="group_701063194_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Morning (10-12)</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.701063194" value="Afternoon (12-3) &#1575;&#1604;&#1592;&#1607;&#1585;" id="group_701063194_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Afternoon (12-3)</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.701063194" value="Late Afternoon (3-7) &#1575;&#1604;&#1593;&#1589;&#1585;" id="group_701063194_3" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Late Afternoon (3-7)</span>
</label></li></ul>
<div class="error-message" id="1181208829_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-1509025679728644574&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fvv" value="0">


<input type="hidden" name="fbzx" value="-1509025679728644574">

<div class="ss-item ss-navigate">
<input type="submit" name="submit" value="REGISTER" id="ss-submit" class="jfk-button jfk-button-action btn btn-outline green"></div></ol></form>
